
<h1>All Enquiries</h1>
{{#each contacts}}
    id: {{_id}}<br>
   Name : {{name}} <br>
   Email: {{email}}<br>
   Enquiry:{{enquiry}}<br><br>

   <button id="show">Show</button>
   <button id="delete">Delete</button><br><br>
{{/each}}

