body{
    background-color:grey;
    color: white;
}
h1{
   color: maroon;
}
p{
    color: white;
}
h2{
    color: blue;
}
ul li{
    color:maroon;
}
/* .myinfo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */