<h1>New Digimon</h1>
<form action="/digimons" method="post">
    <div>
        <label for="">Name</label>
    </div>
    <div>
        <input type="text" name="name"/>
    </div>
    <div>
        <label for="">Weapon</label>
    </div>
    <div>
        <input type="text" name="weapon">
    </div>
     <div>
        <label for="">Kind</label>
    </div>
    <div>
        <input type="text" name="kind">
    </div>
    <div>
        <input type="submit" value="Submit form"/>
    </div>
</form>