<h1>New book</h1>

<form method="post" action="/books">
    <div>
        <label>Title</label>
    </div>
    <div>
        <input type="text" name="title" />
    </div>
    <div>
        <label>Published</label>
    </div>
    <div>
        <input type="date" name="published" />
    </div>
    <div>
        <label>Author</label>
    </div>
    <div>
        <select name="author">
            {{#each authors}}
                <option value= "{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <div>
        <input type="submit" value="Submit Form" />
    </div>
</form>